
<%
const categoriesList = list_categories({ show_count: false });
const tagsList = list_tags({ show_count: false });
const archivesList = list_archives({ show_count: false });
%>

<% if (is_year() === false) { %>
  <div id="archive">

    <% if (theme.atom !== undefined) { %>
      <p>
        The feed is available via
        <a href="<%=theme.atom%>">atom</a>.
      </p>
      <br>
    <% } %>

    <aside>
      <h3 class="widget-title">Categories</h3>
      <% if (categoriesList !== "") { %>
        <%-categoriesList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>
    <br>

    <aside>
      <h3 class="widget-title">Tags</h3>
      <% if (tagsList !== "") { %>
        <%-tagsList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>
    <br>

    <aside>
      <h3 class="widget-title">Archives</h3>
      <% if (archivesList !== "") { %>
        <%-archivesList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>

  </div>
<% } else { %>

  <h3 class="widget-title"><%=page.month + '/' + page.year%></h3>

  <% page.posts.each(article => { %>
    <div class="archive-item">
      <a href="<%=url_for(article.path)%>">
        <%=article.title%>
      </a>
      <time datetime="<%=date_xml(article.date)%>">
        <%= date(article.date, 'MMMM DD, YYYY') %>
      </time>
    </div>
  <% }) %>

  <div id="paginator">
    <%-paginator()%>
  </div>

<% } %>
